{% extends "base.html" %}
 

{% block css %}
<style>
#id_detailing {
width: 50%;
    padding: 10px 10px;
    background-color: transparent;
    border-radius: 8px;
    border-width: 0.12px;
    margin-left: 5px;
}
</style>
{% endblock %}

{% block js %}
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places&key=AIzaSyBdNU_pf5dRtDrM1EqI_Nq6fNpnJr7Uvb0"></script>
  <script>
  var autocomplete;
  function initialize() {
    var input = document.getElementById('searchTextField');
    autocomplete = new google.maps.places.Autocomplete(input);
    google.maps.event.addListener(autocomplete, 'place_changed', function () {
      var place = autocomplete.getPlace();
      document.getElementById('id_lat').value = place['geometry']['location']['lat']().toFixed(6);
      document.getElementById('id_long').value = place['geometry']['location']['lng']().toFixed(6);
    });
  }

  google.maps.event.addDomListener(window, 'load', initialize);


  </script>
{% endblock %}

{% block content %}
<div class="m-10">
<div class="card card-side bg-neutral text-neutral-content shadow-3xl">
  <figure><img src="https://i.pinimg.com/originals/e7/b1/8c/e7b18c436f3f643938c223c02d398aff.gif" width="30%" /></figure>
  <div class="card-body">
  <p>
  <form method="post" id="weatherform">
    {% csrf_token %}
    <h1 class="card-title text-3xl mb-10">Weather</h1>
    <input id="searchTextField" type="text" placeholder="Google Search" 
      class="input input-bordered w-full max-w-xs mb-10" />
    <br>
    {{ form }}
  </form></p>
  <div class="card-actions justify-end">
      <button class="btn btn-primary" type="submit" value="Submit" form="weatherform">Submit</button>
  </div>
  </div>
</div>
{% if weather_data %}
<div class="mockup-code bg-primary text-primary-content mt-10">
<pre data-prefix="$"><code>{{weather_data}}</code></pre>
</div>
{% elif error %}
<div class="mockup-code bg-error-content text-error mt-10">
<pre data-prefix="$"><code>{{error}}</code></pre>
</div>
{% endif %}
</div>
{% endblock %}

